@import "tailwindcss";

:root {
    line-height: 1.5;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

    --scrollbar-thumb: #d1d5db;
    --scrollbar-track: #f3f4f6;
}