---
import Turnos from '../components/Turnos';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Ambar Glow' description='Ambar Glow estetica'>
	<main>
		<Header />
		<Hero />
		<section class="px-8 flex justify-center items-center gap-x-10">
			<Turnos client:load/>
		</section>
	</main>
</Layout>