---
import Nav from './Nav.astro';
import Button from './Button.astro';
---

<header class="bg-amber-200 flex justify-between items-center p-4 2xl:justify-around xl:gap-x-8">
    <div>
        <img src="" alt="Logo Ambar Glow" />
    </div>
    <Nav />
    <div class="flex gap-x-4">
        <Button>Reservar turno</Button>
        <Button style='secondary'>Contactanos</Button>
    </div>
</header>