---
import Button from "./Button.astro";


---

<section class="flex h-96">
    <div class="w-1/2 flex flex-col justify-center items-start gap-y-4 px-8">
        <h1 class="">Ambar Glow Estetica</h1>
        <p class="text-slate-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt autem quis rem aperiam impedit quam nisi! Dolorem at asperiores similique dolorum a! Tenetur velit cumque quae blanditiis laudantium, atque ex!</p>
        <Button className="w-80">Reservar mi turno</Button>
    </div>
    <div class="grow">
        <img src="" alt="Imagen de hero" class="w-full h-full object-cover" />
    </div>
</section>