---

---

<nav class="">
    <ul class="flex gap-x-8 justify-between">
        <li><a href="/">Inicio</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/turnos">Turnos</a></li>
    </ul>
</nav>

<style>
    
</style>